/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* Styles spécifiques pour le site Tesla.com */

/* En-tête */
header {
  background-color: #000;
  color: #fff;
  padding: 20px;
}

header h1 {
  font-size: 24px;
}

/* Navigation */
nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
}
nav a {
  position: relative;
}

nav a:hover:before {
  content: "";
  position: absolute;
  top: -6px;
  left: -10px;
  right: -10px;
  bottom: -6px;
  border-radius: 30px;
  border: 2px solid white;
}


/* Section de contenu */
.content p {
  margin-bottom: 20px;
}
.mb-4 {
  width: 20%;
  position: relative;
  top: 415px;
}

/* Pied de page */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer p {
  font-size: 14px;
}

